{
  email contact@coachscribe.nl
}

backend.coachscribe.nl {
  reverse_proxy 127.0.0.1:8787
}

supabase.coachscribe.nl {
  reverse_proxy 127.0.0.1:8000
}

admin.coachscribe.nl {
  reverse_proxy 127.0.0.1:3000
}

