{
  email contact@coachscribe.nl
}

backend.coachscribe.nl {
  reverse_proxy coachscribe_server:8787
}

supabase.coachscribe.nl {
  reverse_proxy host.docker.internal:8000
}

admin.coachscribe.nl {
  basicauth {
    {$ADMIN_BASIC_AUTH_USER} {$ADMIN_BASIC_AUTH_HASH}
  }
  reverse_proxy host.docker.internal:3000
}

